
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

## IDE
.idea
.vscode/
.DS_Store
Thumbs.db

## AI
.junie
.claude
.amazonq

# PHPUnit caches and coverage
/.phpunit.cache/
.phpunit.result.cache
/coverage/

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
